@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply py-2 px-4 bg-principal text-fuente-botones rounded-lg shadow-md hover:bg-principal active:bg-secundario focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 ease-out duration-500 text-[15px] h-[55px];
    }
    .input-pdv{
      @apply bg-fuente border border-fuente text-gray-900 text-sm rounded-lg hover:ring-2 focus:ring-blue-500 block p-2.5 text-[20px] w-[300px]  md:w-[450px] focus:outline-none ;
    }
  }

  @layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

select {
  appearance: none; /* Esto oculta las flechas predeterminadas */
}